<p>Angular 2 Operation</p>
<div *ngIf="del;"><p>DATA DELETED</p></div>
<div *ngIf="insert;"><p>DATA INSERTED</p></div>
<div *ngIf="update;"><p>DATA UPDATED</p></div>
<h4><b>ADD EMPLOYEE</b></h4>
<form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value)"> 
  <table>
  <tr>
  <td><label for="ID">ID</label></td><td><input type="number" name="ID" placeholder="" ngModel></td></tr>
  <tr><td><label for="Name">Name</label></td><td><input type="text" name="Name" placeholder="" ngModel></td></tr> 
  <tr><td><label for="Salary">Salary</label></td><td><input type="number" name="Salary" placeholder="" ngModel></td></tr> 
  <tr><td><label for="Department">Department</label></td><td><input type="text" name="Department" placeholder="" ngModel></td></tr> </table>
  <br/> 
  <br/> 
  <button type="submit">Add Employee</button> 
</form>
<br />
<br />
<h4><b>SHOW ALL EMPLOYEE</b></h4>
<table style="border: 1px solid black;">
  <tr><th style="border: 1px solid black;">ID</th>
  <th style="border: 1px solid black;">Name</th><th style="border: 1px solid black;">Salary</th><th style="border: 1px solid black;">Department</th><th style="border: 1px solid black;" colspan="2">Action</th></tr>
 <tbody><tr *ngFor="let emp of employees; let i = index; ">
<td style="border: 1px solid black;">{{emp.empId}}</td><td style="border: 1px solid black;">{{emp.empName}}</td><td style="border: 1px solid black;">{{emp.empSal}}</td><td style="border: 1px solid black;">{{emp.empDep}}</td><td style="border: 1px solid black;"><button (click)="Update(i)">UPDATE</button></td><td style="border: 1px solid black;"><button  (click)="Delete(i)">DELETE</button></td></tr>
</tbody></table>
<h4><b>UPDATE EMPLOYEE</b></h4>
<form #username="ngForm" (ngSubmit)="onClick(username.value)"> 
  <table>
  <tr >
  <td><label for="ID">ID</label></td><td><input type="number" name="ID" value="{{valId}}" placeholder="" ngModel></td></tr>
  <tr><td><label for="Name">Name</label></td><td><input type="text" name="Name" value="{{valName}}" placeholder="" ngModel></td></tr> 
  <tr><td><label for="Salary">Salary</label></td><td><input type="number" name="Salary" value="{{valSal}}" placeholder="" ngModel></td></tr> 
  <tr><td><label for="Department">Department</label></td><td><input type="text" name="Department" value="{{valDep}}" placeholder="" ngModel></td></tr> </table>
  <br/> 
  <br/> 
  <button type="submit">Update Employee</button> 
</form>